* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-image: url(./back.jpeg);
}

button {
 margin-bottom: 10px;
 border-radius: 100%;
 color: royalblue;
 font-family: sans-serif;
 height: 60px;
 padding: 1px;
 width: 100px;
}
button:hover{
  color: white;
}

.poke-details{
  background-color: seashell;
  color: royalblue;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 20px;
  line-height: 50px;
  
}



.flex{
  display: flex;
  padding: 170px;

}

.pokemon-info{
  width: 40%;
  background-color: royalblue;
}

.pokemon-list-container{
  width: 40%;
  height:50vh;
  background-color: royalblue;
  
}


img{
  height: 300px;
  float: left;
  padding: 40px;


}
h1{
  text-align: center;
  color: white;
}
