* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./OWoCkA.jpg);
}

button {
 margin-bottom: 20px;
 border-radius: 10px;
 color: royalblue;
 font-family: sans-serif;


}
img{
  width: 200px;
  height: 200px;
  float: right;

}
h1{
  text-align: center;
  color: royalblue;
}
